footer {
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  border-top: 0.5px solid rgba(255, 255, 255, 0.203);
  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e21b5a;
    svg {
      cursor: pointer;
      font-size: 2.5rem;
    }
  }
  .data {
    margin: 0px;
    border: 0.5px solid rgba(255, 255, 255, 0.203);
    border-top: none;
    border-bottom: none;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      height: 100%;
      list-style-type: none;
      li {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: var(--accent-color);
        }
      }
      .active {
        background-color: var(--accent-color);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  footer {
    width: inherit;
    margin-bottom: 20px;
    .block {
      display: none;
    }
    .data {
      border: none !important;
      ul {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        li {
          padding: 0 20px;
        }
      }
    }
  }
}
