@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
}
body {
  background-color: black;
}

#root {
  $accent-color: #f51313;
  --accent-color-dark: color.scale($accent-color, $lightness: -30%);
}

:root {
}
